<main>
  <section class="login-cover"></section>
  <section class="login-container">
    <div class="login-wrapper m-t-100">
      <div class="header m-b-100"></div>
      <div class="body m-t-75 m-b-30">
        <div class="field">
          <span><fa-icon [icon]="faUserCircle"></fa-icon></span>
          <p><input type="email" placeholder="Login" /></p>
        </div>
        <div class="field">
          <span><fa-icon [icon]="faKey"></fa-icon></span>
          <div>
            <input type="password" placeholder="Password" />
            <div>
              <a><fa-icon [icon]="faEye"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="m-b-10">
          <label class="checkbox">
            <input type="checkbox" /> <b>Remember me</b>
          </label>
          <a class="button is-primary"> Log in</a>
        </div>
        <div class="m-t-10">
          <a> Register</a>
          <a
            style=" color: #929699; height: 14px; word-spacing:-0.1em; font-size: 12px; font-weight: 700"
            >Forgot password</a
          >
        </div>
      </div>
    </div>
  </section>
</main>
